{% extends "home.html" %}

{% block extra_style %}
    <style>
        body {
            margin: 0 auto;
            padding: 0;
        }
        .itemList {
            margin: 15px 0 15px 10px;
            width: 95%;
        }
        .item {
            overflow: auto;
            padding: 15px;
            border: 1px solid #E0E0E0;
            margin: 5px 0;
            border-radius: 3px;
            background: #ffffff;
            width: 100%;
        }
        .itemTitle {
            font-size: 24px;
            font-weight: bold;
            padding: 0 0 10px 0;
            border-bottom: 1px solid #E0E0E0;
        }
        .itemTitle a {
            text-decoration: none;
        }
        .itemContent {
            margin: 10px 0;
            max-height: 400px;
            overflow-y: hidden;
            font-size: 16px;
        }
        .itemContent h2 {
            font-size: 18px;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="itemList">
        {% for item in data.entries %}
        <div class="item">
            <div class="itemTitle"><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></div>
            {% if item.content %}
                <div class="itemContent">{{ item.content.0.value|safe }}</div>
            {% else %}
                <div class="itemContent">{{ item.summary|safe }}</div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
